.DS_Store
build/
trash/
*.userdb/
installation.yaml
user.yaml
input.txt
output.txt
moran_fixed.txt
moran_fixed_aabc.txt
moran_fixed_simp.txt
njerchet.*
zrm6.*
make_dist.sh
dist/
default.custom.yaml
*.custom.*
pinyin_simp*
.venv/
sync/
.env
.pdm-python
